<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Message form</title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<div class="container">
			<h1>Message form</h1>
			<div>
				<form action="/new" method="POST">
					<label for="nameInput">User: </label
					><input
						type="text"
						id="nameInput"
						placeholder="Lebron123"
						name="messageUser"
						required
					/>
					<label for="textInput">Text: </label
					><input
						type="text"
						id="textInput"
						placeholder="blablabla"
						name="messageText"
						required
					/>
					<button type="submit">Submit</button>
				</form>
			</div>
		</div>
	</body>
</html>
